.Tickets {
    display: flex;
    flex-direction: column;
    width: 66.18%;
}

.AddBtn {
    margin: 20px 0;
}

.Container {
    display: flex;
    flex-direction: column;
}

.Ticket {

}

@media (max-width: 960px) {
    .Tickets {
        width: 100%;
    }
}